* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #547792;
}

#hero,
#about,
#projectSection,
#footer {
    border: 2px solid black;
}

#hero,
#about {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


#projectSection {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}


#footer {
    height: 50vh;
    width: 100%;
}

#navbar {
    height: 10%;
    width: 100%;
    border: 2px solid rgb(7, 5, 5);
}

.tempPara {
    font-size: 2rem;
    text-align: center;
}

.homeSections {
    height: 400px;
    width: 480px;
    border: 3px solid rgb(18, 18, 41);
}

.img {
    height: 400px;
    width: 350px;
    border: 3px solid rgb(18, 18, 41);

}

.aboutData {
    height: 400px;
    width: 600px;
    border: 3px solid rgb(18, 18, 41);

}

.projects {
    height: 200px;
    width: 150px;
    border: 3px solid rgb(18, 18, 41);
}